<nav class="bg-fuchsia-950 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center space-x-2 space-x-5">
            <img src="/images/utilitys/MemorifyLogo1.webp" class="max-w-2xs" alt="Memorify Logo"/>
            <div class="text-white text-xl font-semibold">
                <a href="{{path('app_home')}}">Memorify</a>
            </div>
        </div>
        <div class="space-x-4">
            <a href="{{path('app_soirees')}}" class="text-gray-300 hover:text-white">Soirées</a>
            <a href="{{path('app_journees')}}" class="text-gray-300 hover:text-white">Journées</a>
            <a href="#" class="text-gray-300 hover:text-white">Boîtes</a>
        </div>
    </div>
</nav>

